MONGODB_URI=mongodb://root:password@localhost:27017/
MONGODB_DB_NAME=pr32_game_db

# Configuracion para PR3.2 WebSocket
WS_PORT=8082
WS_HOST=127.0.0.1
INACTIVITY_TIMEOUT_MS=10000
MONGODB_COLLECTION=movements
PLAYER_ID=player-1

# Logging
LOG_LEVEL=debug
LOG_FILE_PATH=../data/logs
LOKI_ENABLED=true
LOKI_URL=http://localhost:3100
LOKI_JOB=pr32-websocket
