# Dependencies
node_modules/
package-lock.json

# Project specific
utils/output/*
data/logs/*

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific
.DS_Store
Thumbs.db